node_modules/
.env
.env.local

# contract
contract/cache/
contract/artifacts/
contract/typechain-types/
contract/coverage/
contract/coverage.json

# app
app/.expo/
app/dist/
app/web-build/
app/src/config/firebase.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# firebase
firebase/firebase.config.ts
firebase/serviceAccountKey.json

# OS / editor
.DS_Store
.vscode/
*.log
